# Exclude entire directories
Debug/
dataset-yolov8/
tmp-cvat/
tests/
tmp/
.venv/

# Exclude .pt files recursively
**/*.pt

# Exclude other unnecessary files
clearml.conf
example.agent.conf
*.log
*.pyc
__pycache__/
*.zip
*.tar.gz
*.env
Makefile